#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	padding-top: 18px;

	@include media ('>=tablet') {
		padding-top: 33px;
	}

	.container {
		display: flex;
		justify-content: space-between;
	}
}

.logo {
	opacity: 1;

	.nav-active & {
		@include animate(opacity);

		opacity: .5;
	}
}

.navbar {
	@include media ('>=desktop') {
		margin-right: -5px;
	}
}

.opener-holder {
	@include media ('>=tablet') {
		display: flex;
	}
}

.opener-text {
	display: none;

	@include media ('>=tablet') {
		display: inline-block;
		vertical-align: middle;
		line-height: 2.1;
		letter-spacing: -0.35px;
		text-transform: uppercase;
		color: $light-gray;
		margin-right: 9px;
	}
}

.nav-opener {
	@include animate(border-color transform);

	display: block;
	width: 41px;
	height: 41px;
	background: transparent;
	position: relative;
	border-radius: 50%;
	border: 1px solid transparent;
	text-indent: -9999px;
	overflow: hidden;
	z-index: 11;
	color: $white;

	&:hover {
		transform: scale(1.2);
	}

	&:before, &:after, span {
		background: $white;
		border-radius: 4px;
		position: absolute;
		top: 16px;
		left: 25%;
		right: 25%;
		height: 2px;
		margin-top: -2px; 
		transition: all 0.2s ease-in-out;
	}
	
	&:before {
		content: "";
		top: 10px;
	}

	&:after {
		content: "";
		top: 22px;
	}

	.nav-active & {
		border: 1px solid $white;
		position: absolute;
		top: 33px;
		right: 30px; 

		&:before, &:after {
			transform: rotate(45deg);
			top: 21px;
			left: 16%;
			right: 15%;
		}

		&:after {
			transform: rotate(-45deg);
		}

		span {
			opacity: 0;
		}
	}
}

.nav-aside {
	@include animate(transform);

	position: fixed;
	z-index: 9;
	width: 100vw;
	top: 0;
	bottom: 0;
	left: 100%;
	background-color: #5e646b;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: 85px 0;
	transform: translateX(0);
	will-change: transform;
	
	@include media('>=tablet') {
		width: 320px;
	}

	li.active {
		background-color: $dark-gray;
	}

	a {
		@include animate(background-color color);

		display: block;
		text-transform: uppercase;
		padding: 10px;
		color: #fff;
		font-size: 16px;
		text-align: center;

		&:hover {
			background: $light-gray;
			color: $dark-gray;
		}
	}
	

	.nav-active & {
		transform: translateX(-100%);
	}
}

